.box img{
    width: 400px;
    transition: all 0.3s;
}

.box img:hover{
    transform: scale(1.1);
}
.main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.box{
    border: 3px solid blue;
    padding: 10px;
    overflow: hidden;
}
.btn{
    background-color: orange;
    padding: 8px 20px;
    border: 3px solid transparent;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}
.btn:hover{
    background-color: white;
    border: 3px solid orange;
}